* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .top-nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #2C3E50;

  }
  
  .links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-right: 100px;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;

  }
  
  .links > li {
    margin-right: 20px;
    cursor: pointer;
  }

  .container {
    width: 100%;
  }
  
  .hero {
    background-color: #1ABC9C;
    color: #fff;
    position: relative;
  }
  
  .hero-content {
    padding: 10vh 0 10vh 0;
    width: 100%;
    text-align: center;
  }

  .hero-logo {
    margin-bottom: 40px;
  }
  
  .hero-heading {
    font-size: 64px;
    margin-bottom: 40px;
    
  }
 
  .hero-paragraph {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .star{
    width:3em ;
    height:3em ;
    margin-bottom: 40px;

  }
  
  .protfolio {
    color: #2C3E50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .protfolio > h1 {
    padding: 10vh 0 5vh 0;
    font-size: 64px;
    text-align: center;
    width: 50vw;
  }
  
  .protfolio-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 70px;
  }
  
  .protfolio-images > div {
    width: 30%;
    margin: 2vh;
    
  }

  .protfolio-images > div img {
    width: 100%;
    border-radius: 2vh;
  }

  .about {
    background-color:#1ABC9C ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about > h1 {
    color: white;
    padding: 10vh 0 5vh 0;
    font-size: 64px;
    text-align: center;
    width: 50vw;
  }
  
  .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .about-text > div {
    width: 30%;
    margin: 2vh;
  }
  
  .about-text > div p {
    font-size: 25px;
    text-align: left;
    margin-bottom: 40px;
  }

  .contact {
    background-color:white ;
    color: #2C3E50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact > ul {

    font-size: 35px;
    margin-bottom: 40px;
  }
  
  .contact > h1 {
    color: #2C3E50;
    padding: 10vh 0 5vh 0;
    font-size: 64px;
    text-align: center;
    width: 50vw;
  }
  
  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .contact-form > div {
    width: 100%;
    
  }
  
  .contact-form > div input[type=text],textarea {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

  .btn{
    background-color: transparent;
    color: #fff;
    font-weight:lighter;
    font-size:26px ;
    padding: 14px 30px;
    border: 2px solid white;
    cursor: pointer;
    margin-bottom: 70px;
  }

  .btn:hover {
    background-color:white;
    color: black;
  }

  input[type=submit] {
  background-color: #1ABC9C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 70px;
}

.info {
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 30px 10vw;
  background-color: #2C3E50;
  color: #fff;
  width: 100%;
}

.info  > h1 {

  font-size: 32px;
  text-align: center;
  width: 50vw;
  font-weight: bold;
}

.info  > p {

  font-size: 20px;
  text-align:center;
  width: 19vw;
  font-weight: lighter;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10vw;
  background-color: #091a2b;
  color: #fff;
  width: 100%;
  
}

.validate{

  background-color: rgb(196, 87, 87);
  color:#091a2b ;
  margin-bottom: 40px;
}


  /* Media Query */
  
  @media only screen and (max-width: 800px) {
    .mobile {
      flex-direction: column;
    
    }
  
    .media-images > img {
      width: 100%;
    }
  
    .program-images > div {
      width: 100%;
    }

  }


  